:root {
    --main-color: #2e2e2e;
    --second-color: rgb(231, 231, 231);
    --text-color: white;
    --main-hover: #575757;
    --main-color-opacity: rgba(46,46,46, 0.8);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, var(--main-color), var(--second-color));
}

/* LOGO */
.productstock {
    font-size: 50px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--main-hover);
    text-shadow: 2px 2px 3px rgba(228, 228, 228, 0.274);
}

/* NAVBAR */
nav {
    background-color: var(--main-color);
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: var(--main-hover);
}

.deconnexion {
    color: var(--text-color);
}

/* FOERMULAIRE DE CONNEXION  */
form {
    background: linear-gradient(190deg, var(--main-color), rgb(163, 163, 163));
    padding: 20px;
    width: 40%;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

label {
    color: var(--text-color);
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: none;
    border: 2px solid var(--main-hover);
}

input[type="submit"] {
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    width: 60%;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:active {
    background-color: var(--main-hover);
}

.form-button-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.connexion-form-page {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.inscription-button {
    color: black;
    transition: 0.3s;
}

.inscription-button:hover {
    color: var(--main-hover);
}


/* FOOTER  */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    margin: 5 10px;
    transition: color 0.3s;
}

/* STOCK */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--main-color-opacity);
    color: var(--text-color);
}

th, td {
    padding: 12px;
    border: 1px solid var(--second-color);
    text-align: left;
}

th {
    background-color: var(--main-color);
}

tr:nth-child(even) {
    background-color: var(--second-color);
    color: var(--main-color);
}

tr:hover {
    background-color: var(--main-hover);
    color: var(--text-color);
}